@import "../../assets/style/variables";

.post-section {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}

.post-item {
  position: relative;
  height: 30rem;
  width: 30%;
  border-radius: 0.7rem;
  border: 0.7rem solid #9174e220;
  background-color: white;
  padding: 1.3rem;

  h1 {
    margin-bottom: 1rem;
    font-size: 1.05rem;
  }

  .post-content {
    font-size: 0.9rem;
    font-weight: 200;
  }
}

.post-info {
  width: 87%;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 3%;
  border-top: 1px solid rgba(238, 238, 238, 0.815);

  &-date {
    font-size: 0.8rem;
    color: #555555;
  }

  .post-update {
    display: flex;
    font-weight: 600;

    p {
      cursor: pointer;
    }

    &-button {
      color: #{$mainColor};
      margin-right: 0.7rem;
    }
  }
}

.page {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;

  &-wrapper {
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &-item {
    color: #53535380;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #70707050;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 1;
      transition: 0.3s;
      color: #{$mainColor};
    }
  }
  .color {
    opacity: 1;
    background-color: #{$mainColor};
    color: white;
  }
}
